<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="login-container">
        <div class="form-bubble">
            <h2>Login</h2>
            <!-- Ensure form action points to the correct Flask route -->
            <form id="login-form" action="{{ url_for('login') }}" method="POST">
                <input type="text" id="identifier" name="identifier" placeholder="Username or Email" required>
                <input type="password" id="password" name="password" placeholder="Password" required>
                <button type="submit">Login</button>
            </form>
            <a href="{{ url_for('start_page') }}" class="B-home">Back to Home</a>
        </div>
        <!-- <a href="" class="">Forgot Password?</a> !-->
    </div>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
