<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <!-- Navbar or header content -->
        <nav>
            <h1> Music Buddy</h1>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="discover.html">Discover</a></li>
                <li><a href="#">Collab</a></li>
                <li><a>Profile</a></li>
            </ul>
        </nav>
    </header>

    

    <footer>
        <!-- Footer content -->
        <p>&copy; 2024 Your Company</p>
    </footer>

    <script src="/static/js/index.js"></script>
</body>
</html>
